openai==1.16.1
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-api-python-client==2.126.0
google-cloud-texttospeech==2.15.1
elevenlabs==1.2.0
requests==2.31.0
python-dotenv==1.0.1
slack_sdk==3.27.1
moviepy==1.0.3
